body{
	background: #00008B;
	padding-top: 250px;
	padding-right: 250px;
	padding-left: 600px;
	font-family: arial;
	display: block;



}
.title{
	color: white;
	font-family: monospace;
}

.texto{
	font-family: monospace;
	color: white;
	font-size: 25px;
	padding-left: 45px;
	

}